@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

h1 {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  font-family: Source Code Pro, sans-serif;
  font-size: 50px;
  line-height: 1;
  text-align: center;
  transform: translate(0, -50%);
  color: #ff8315e3;
}
