@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

h1 {
  position: absolute;
  top: 10%;
  left: 1%;
  right: 0;
  font-family: Source Code Pro, sans-serif;
  font-size: 30px;
  line-height: 1;
  transform: translate(0, -50%);
  color: #ff8315e3;
}
